*{
    padding: 0;
    margin: 0;
}





a:visited{
    text-decoration-style: none;
    color: black;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border:
        solid 
        black
        1px
     ;

}

#title{
    margin:20px;
    padding: 5px 30px;
    font-size: xx-large;
    border-radius: 5px;    
    border: 
        black
        solid
        1px
    ;

}


#nav_UL{
    display: flex;
    margin: 0 20px;
    gap: 30px;
    list-style: none;

}

.login_btns{
    padding: 5px 20px;
    border-radius: 5px;
    border: 
    solid
    black 
    1px
    ;

    
}
