*{
    margin: 0;
    padding: 0;
    font-size: x-large;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.knapp:hover{
    transform: scale(1.02);
    transition: 0.3s ease;
}

.knapp:active{
    transform: scale(0.9);
}



header{
    background-color: rgb(241, 232, 232);
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    align-items: center;
    gap: 3vw;
    height: 5vw;
    
}

header div{
    /* margin: 30px 20px; */
}

nav ul{
   display: flex; 
}

.knapp{
    align-self: center;
    list-style-type: none;
    list-style: none;

}

.grid-container{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 300px 1fr;
}

.grid-container h3{

}

.knapp{
    padding :10px 20px;
    border: 1px black double;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.titel{
    margin:10px 10px;
}

.toolbar-btns{
    margin: 10px 10px;
    list-style-type: none;
}